# Quasar core related directories
/dist

# Cordova related directories and files
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www

# Capacitor related directories and files
/src-capacitor/www
/src-capacitor/node_modules

# BEX related directories and files
/src-bex/www
/src-bex/js/core

# Editor directories and files
/remote-schema-introspect/

# Custom
/node_modules
/.vite
/.vscode
/.__mf__temp
/env
/.thumbs.db
/.prettierignore
/.prettierrc.json
/package-lock.json
/bun.lock
/bun.lockb
