:root {
    --tiptap-white: #fff;
    --tiptap-black: #2e2b29;
    --tiptap-black-contrast: #110f0e;
    --tiptap-gray-1: rgba(61, 37, 20, .05);
    --tiptap-gray-2: rgba(61, 37, 20, .08);
    --tiptap-gray-3: rgba(61, 37, 20, .12);
    --tiptap-gray-4: rgba(53, 38, 28, .3);
    --tiptap-gray-5: rgba(28, 25, 23, .6);
    --tiptap-green: #22c55e;
    --tiptap-purple: #6a00f5;
    --tiptap-purple-contrast: #5800cc;
    --tiptap-purple-light: rgba(88, 5, 255, .05);
    --tiptap-yellow-contrast: #facc15;
    --tiptap-yellow: rgba(250, 204, 21, .4);
    --tiptap-yellow-light: #fffae5;
    --tiptap-red: #ff5c33;
    --tiptap-red-light: #ffebe5;
    --tiptap-shadow: 0px 12px 33px 0px rgba(0, 0, 0, .06), 0px 3.618px 9.949px 0px rgba(0, 0, 0, .04)
}
